@media only screen and (min-width: 1281px) and (max-width: 1690px) {
  #scroll-top .to-top a {
    font-size: 12px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    right: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1280px) {
  #scroll-top .to-top a {
    font-size: 12px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    right: 15px;
  }
  section,
  header {
    overflow: hidden !important;
  }
  .mainmenu .navbar-nav li {
    margin-right: 26px;
  }
  .about_top_wrapper .banner_learn img {
    min-height: auto;
  }
  .about_top_wrapper .banner_learn {
    padding-left: 50px;
    margin-bottom: 0;
  }
  .about_top_wrapper .title {
    width: 100%;
    padding-right: 30px;
    padding-left: 15px;
  }
  .about_top_wrapper .items_shape {
    margin-top: -50px;
    height: 300px;
  }
  .about_us {
    margin-top: 100px;
  }
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 767px) and (max-width: 991px) {
  #scroll-top .to-top a {
    font-size: 12px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    right: 15px;
  }
  .navbar-brandnavbar-brand {
    display: none;
  }
  header .edu_nav nav {
    display: none;
  }
  header .header_top {
    padding-top: 53px;
  }
  header .edu_nav nav .navbar-nav li i:before {
    color: #fff !important;
  }
  section,
  header {
    overflow: hidden;
  }
  .about_top_wrapper .title h2 {
    font-size: 40px;
    line-height: 55px;
  }
  .sub_title h2 {
    font-size: 40px;
    letter-spacing: 1px;
  }
  .title h2 {
    font-size: 40px;
    letter-spacing: 1px;
  }
  .cources_highlight {
    margin-top: 100px;
  }

  .cources_highlight .latest_blog_carousel .single_item_center .blog-img {
    height: auto;
  }
  .about_top_wrapper .banner_learn img {
    min-height: auto;
  }
  .about_top_wrapper .banner_learn {
    padding-left: 45%;
    margin-bottom: 0;
  }
  .about_top_wrapper .story_about .story_banner {
    height: 400px;
    width: 400px;
  }

  .about_top_wrapper .title {
    width: 45%;
    padding-right: 30px;
    padding-left: 15px;
    padding-top: 0;
  }
  .about_top_wrapper .items_shape {
    margin-top: 50px;
    height: 300px;
  }
  footer .footer_top .information {
    margin-left: 0;
  }
  footer .footer_top .contact {
    margin-left: 0;
  }
  footer .footer_top h3 {
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .our_instructors .team-single-item figure figcaption {
    background: #fff;
    margin: 0;
    padding: 20px 15px;
    box-shadow: 0px 0px 15px 0px rgba(47, 47, 47, 0.05);
  }
  .our_instructors .team-single-item figure figcaption .member-name {
    padding: 0;
  }
  .our_instructors .team-single-item figure figcaption:before {
    display: none;
  }
  .our_instructors .team-single-item {
    padding: 0;
    margin-bottom: 50px;
  }
  .our_instructors .team-single-item figure figcaption .member-name h4 {
    font-size: 20px;
  }
  .our_instructors .team-single-item figure figcaption .member-name span {
    font-size: 20px;
  }
  .about_us {
    margin-top: 100px;
  }
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
  .home_1_update .rev_slider_wrapper {
    margin: 0px;
    width: 100% !important;
  }
  .row.res_mobile {
    flex-direction: column-reverse;
  }
  .home_1_update .social_wrapper {
    justify-content: center;
  }
  #scroll-top .to-top a {
    font-size: 12px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    right: 15px;
  }
  .login_signup_option .login_modal_body {
    width: 85%;
  }
  .login_signup_option .tab-content {
    padding: 10px;
  }
  .mean-container .mean-bar {
    z-index: 9;
  }
  .navbar-brand {
    display: none;
  }
  .search_area {
    position: absolute;
    top: -160px;
    right: 35px;
    z-index: 999;
  }
  #search input[type="search"] {
    padding: 0 30px;
  }
  #search button.close {
    right: 30px;
  }
  header .edu_nav nav .search_area .navbar-nav li i:before {
    color: #ffffff !important;
  }
  .header_top {
  }
  header .header_top {
    padding-top: 53px;
    overflow: hidden;
  }

  header .header_top .info_wrapper {
    display: initial;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header .header_top .info_wrapper .login_info {
    justify-content: center;
    padding-bottom: 10px;
  }
  header .header_top .info_wrapper .login_info .apply_btn {
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    padding: 0 15px;
  }

  section,
  header {
    overflow: hidden !important;
  }
  .sub_title h2 {
    font-size: 36px;
    letter-spacing: 1px;
  }
  .cources_highlight {
    margin-top: 100px;
  }
  .cources_highlight .latest_blog_carousel .single_item_center .blog-img {
    height: auto;
  }
  .cources_highlight .latest_blog_carousel .single_item {
    width: 100%;
    margin-bottom: 30px;
  }
  .cources_highlight .latest_blog_carousel {
    display: inherit;
  }
  .cources_highlight .latest_blog_carousel .single_item .blog_title h3 {
    font-size: 25px;
    padding: 5px 0 20px;
    line-height: 30px;
  }
  .cources_highlight .latest_blog_carousel .single_item .blog_title {
    padding: 50px 15px;
  }
  .about_top_wrapper .title {
    position: static;
    padding-right: 0;
    padding-top: 0px;
  }
  .about_top_wrapper .title h2 {
    font-size: 36px;
    line-height: 46px;
  }
  .about_top_wrapper .banner_learn img {
    min-height: auto;
  }
  .about_top_wrapper .story_about .story_banner {
    height: 290px;
    width: 290px;
  }
  .about_top_wrapper .story_about .about_story_title {
    padding-top: 100px;
  }
  .about_top_wrapper .story_about .about_story_title h2 {
    font-size: 36px;
  }
  .about_top_wrapper .story_about .about_story_title p {
    padding-right: 0;
  }
  footer .become_techer_wrapper .become_a_teacher {
    padding: 70px 15px;
  }
  footer .become_techer_wrapper .become_a_teacher .title h2 {
    font-size: 36px;
  }
  footer .footer_top .information {
    margin-left: 0;
  }
  footer .footer_top h3 {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  footer .footer_top .contact {
    margin-left: 0;
  }
  footer .footer_top .footer_single_col .social_items {
    padding: 20px 0 0;
    position: relative;
    z-index: 1;
  }

  .unlimited_possibilities .single_item {
    margin-bottom: 30px;
  }
  .our_instructors .team-single-item figure figcaption {
    background: #fff;
    margin: 0;
    padding: 20px 15px;
    box-shadow: 0px 0px 15px 0px rgba(47, 47, 47, 0.05);
  }
  .our_instructors .team-single-item figure figcaption .member-name {
    padding: 0;
  }
  .our_instructors .team-single-item figure figcaption:before {
    display: none;
  }
  .our_instructors .team-single-item {
    padding: 0;
    margin-bottom: 50px;
  }

  /* ============= Inner Pages header  ============*/
  .header_inner .intro_wrapper {
    padding: 80px 0;
  }
  .header_inner .intro_wrapper h1 {
    font-size: 34px;
    line-height: 45px;
  }
  .about_us .about_title {
    text-align: left;
    padding: 0 0 50px;
  }
  .about_us .about_title h2 {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 1px;
  }
  .about_us {
    margin-top: 50px;
  }
  .about_us {
    padding: 0 15px;
  }
  .about_us {
    padding-top: 50px;
  }
  .popular_courses .single-courses .courses_info_wrapper {
    padding: 30px 15px;
  }
}

footer .become_techer_wrapper .become_a_teacher .shape_t_1,
footer .round_shape {
  display: none;
}
header.header_four .header_top:before {
  background: url(../images/shapes/shape_top_red.png) repeat center center;
}
