* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #6a7a83;
  overflow-x: hidden !important;
}

p {
  font-weight: 400;
  line-height: 26px;
  font-size: 15px;
  color: #6a7a83;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333146;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

a,
a:hover,
a:focus {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  outline: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

ol li,
ul li {
  list-style: outside none none;
  list-style-type: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.dropdown-toggle::after {
  display: none;
}

.disabled {
  display: none;
}

.sub_title {
  max-width: 800px;
  margin: 0px auto 60px;
  text-align: center;
}
.sub_title h2 {
  font-size: 50px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}
.sub_title p {
  padding: 25px 10% 0;
  margin: 0;
}

.container {
  max-width: 1240px;
}

/*=======[ Preloader Style ]========*/
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #ffffff url("../images/preloader.gif") no-repeat center center;
  z-index: 9999999;
}

.rev_slider_wrapper {
  width: 3px;
  height: 50px;
}
.rev_slider_wrapper {
  background: #ff5a2c;
}
.rev_slider_wrapper {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.rev_slider_wrapper {
  background: #ff5a2c;
  width: 20px;
  border-radius: 50px;
}

/*=======[LogIn & Signup Options ]========*/
.is-hidden--off-flow {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: -10;
  /* *1* */
  visibility: hidden;
  /* *1* */
}

.l-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: 0 auto;
  z-index: 9999;
  text-align: center;
}

.l-modal__shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  background: #161616;
  opacity: 0.92;
  z-index: -1;
  /* cursor: url("../images/cursor.png"), auto;  */
}

.login_popup {
  display: inline-block;
  text-align: center;
  background: white;
  max-width: 550px;
  width: 100%;
  line-height: 1.48;
}

.login_signup_option {
  background: #333146;
}
.login_signup_option .login_option_btn .nav-tabs {
  border: none;
  padding: 20px 40px 20px;
  background: #f5f7fa;
}
.login_signup_option .login_option_btn .nav-tabs .nav-item {
  margin-right: 30px;
}
.login_signup_option .login_option_btn .nav-tabs .nav-item:last-child {
  margin-right: 0;
}
.login_signup_option .login_option_btn .nav-tabs .nav-item .nav-link {
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: #333146;
  padding: 0;
  background: transparent;
  font-family: "Rubik", sans-serif;
}
.login_signup_option .login_option_btn .nav-tabs .nav-item .nav-link.active,
.login_signup_option .login_option_btn .nav-tabs .nav-item .nav-link:hover {
  color: #ff5a2c;
}
.login_signup_option .tab-content {
  border: none;
  background: #ffffff;
  padding: 40px;
}
.login_signup_option .login_modal_body {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 550px;
  background: #f5f7fa;
}
.login_signup_option .login_modal_body form .form-group {
  margin-bottom: 25px;
}
.login_signup_option .login_modal_body form .form-group label {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  color: #333146;
  width: 100%;
  font-family: "Rubik", sans-serif;
}
.login_signup_option .login_modal_body form .form-group input {
  background: transparent;
  border: 1px solid rgba(47, 47, 47, 0.3);
  border-radius: 0px;
  -webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0);
  height: 56px;
  padding: 10px 15px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
  color: #333146;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}
.login_signup_option .login_modal_body form .form-group input:focus {
  border-color: #092ace;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.login_signup_option
  .login_modal_body
  form
  .form-group
  input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333146;
  font-size: 16px;
  font-weight: 400;
}
.login_signup_option
  .login_modal_body
  form
  .form-group
  input::-moz-placeholder {
  /* Firefox 19+ */
  color: #333146;
  font-size: 16px;
  font-weight: 400;
}
.login_signup_option
  .login_modal_body
  form
  .form-group
  input:-ms-input-placeholder {
  /* IE 10+ */
  color: #333146;
  font-size: 16px;
  font-weight: 400;
}
.login_signup_option .login_modal_body form .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: #333146;
  font-size: 16px;
  font-weight: 400;
}
.login_signup_option .login_modal_body form .login_option {
  margin-top: 15px;
}
.login_signup_option .login_modal_body form .login_option .forget_pass {
  color: #092ace;
  font-size: 16px;
  font-weight: 500;
  padding: 0 !important;
  margin: 0;
  line-height: 54px;
  font-family: "Rubik", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.login_signup_option .login_modal_body form .login_option .forget_pass:hover {
  color: #ff5a2c;
}
.login_signup_option .login_modal_body form .login_option .login_btn {
  height: 48px;
  line-height: 48px;
  padding: 0 40px;
  border-radius: 3px;
  background: #092ace;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Rubik", sans-serif;
}
.login_signup_option .login_modal_body form .login_option .login_btn:hover {
  background: #ff5a2c;
}
.login_signup_option .login_modal_body form .social_login {
  margin-top: 40px;
}
.login_signup_option .login_modal_body form .social_login .social_items {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .google_login {
  height: 54px;
  width: 48%;
  border: none;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .google_login:last-child {
  margin-bottom: 0;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .google {
  background: #d14c3e;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .google:hover {
  background: #a73d32;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .facebook {
  background: #3d5a95;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .facebook:hover {
  background: #314877;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .twitter {
  background: #57acea;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .twitter:hover {
  background: #468abb;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .linkdin {
  background: #008cc9;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .linkdin:hover {
  background: #007bb6;
}
.login_signup_option .login_modal_body .register {
  text-align: center;
}

/*=========== {  Scroll to top section css} ===========*/
#scroll-top .pos-rtive {
  position: relative;
}
#scroll-top h2 {
  display: none;
}
#scroll-top .to-top {
  display: none;
}
#scroll-top .to-top a {
  -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.05);
  background: #ff5a2c;
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
  height: 53px;
  width: 53px;
  line-height: 53px;
  position: fixed;
  text-align: center;
  top: 89%;
  right: 90px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  z-index: 999;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#scroll-top .to-top a i:before {
  margin: 0;
  font-size: 16px;
}
#scroll-top .to-top:hover {
  background: #092ace none repeat scroll 0 0;
  color: #ffffff;
}

/*=======[ 01 Index Style ]========*/
header {
  /*=======[ Index nav Style ]========*/
}
header .header_top {
  background: #ff5a2c;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
header .header_top:before {
  position: absolute;
  content: "";
  background: url(../images/shapes/shape_top.png) repeat center center;
  height: 263px;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 1;
}
header .header_top .info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .header_top .info_wrapper .contact_info ul {
  margin: 0;
  padding: 9px 0;
}
header .header_top .info_wrapper .contact_info ul li {
  padding-right: 15px;
  display: inline-block;
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}
header .header_top .info_wrapper .contact_info ul li .top-icon {
  font-size: 9px;
  padding-right: 5px;
}
header .header_top .info_wrapper .contact_info ul li i:before {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  padding-right: 10px;
}
header .header_top .info_wrapper .login_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .header_top .info_wrapper .login_info ul {
  margin-right: 30px;
}
header .header_top .info_wrapper .login_info ul li {
  padding-left: 20px;
  position: relative;
}
header .header_top .info_wrapper .login_info ul li:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 1px;
  background: #ffffff;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%) rotate(20deg);
  transform: translateY(-50%) rotate(20deg);
}
header .header_top .info_wrapper .login_info ul li:first-child {
  padding-left: 0;
}
header .header_top .info_wrapper .login_info ul li:first-child:before {
  display: none;
}
header .header_top .info_wrapper .login_info ul li a {
  color: #ffffff;
  font-size: 14px;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
header .header_top .info_wrapper .login_info ul li a i:before {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  padding-right: 10px;
}
header .header_top .info_wrapper .login_info .apply_btn {
  background: #0828c2;
  height: 54px;
  line-height: 54px;
  color: #fff;
  padding: 0 20px;
  font-weight: 600;
  text-transform: uppercase;
}
header .edu_nav {
  padding-right: 0;
  background: #ffffff;
}
header .edu_nav nav {
  padding: 0;
}
header .edu_nav nav .navbar-brand img {
  width: auto;
}
header .edu_nav nav .navbar-nav li {
  position: relative;
}
header .edu_nav nav .navbar-nav li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 97px;
}
header .edu_nav nav .navbar-nav li a {
  font-weight: 500;
  color: #333146 !important;
  font-size: 15px;
  padding: 36px 0 !important;
  margin: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}
header .edu_nav nav .navbar-nav li a.active {
  background: transparent;
  outline: none;
  color: #ff5a2c !important;
  font-weight: 700;
}
header .edu_nav nav .navbar-nav li a:hover {
  color: #ff5a2c !important;
}
header .edu_nav nav .navbar-nav li ul {
  position: absolute;
  width: 240px;
  top: 110px;
  left: 0;
  -webkit-box-shadow: 0px 0px 81px 0px rgba(47, 47, 47, 0.1);
  box-shadow: 0px 0px 81px 0px rgba(47, 47, 47, 0.1);
  padding: 30px 0px 20px 30px;
  z-index: 28;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .edu_nav nav .navbar-nav li ul li {
  width: 100%;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}
header .edu_nav nav .navbar-nav li ul li .dropdown_icon:before {
  opacity: 1;
  visibility: visible;
  color: #333146;
  text-transform: none;
  position: absolute;
  font-weight: 600;
  font-family: "Flaticon";
  content: "\f105";
  right: 45px;
  top: 0;
  font-size: 8px;
  z-index: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .edu_nav nav .navbar-nav li ul li a {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  padding: 0px 0 !important;
  margin: 0;
  text-transform: unset;
}
header .edu_nav nav .navbar-nav li ul li a:hover:before {
  opacity: 1;
  visibility: visible;
  right: 30px;
}
header .edu_nav nav .navbar-nav li ul li ul {
  position: absolute;
  top: 0px !important;
  left: 210px;
  opacity: 0 !important;
  visibility: hidden !important;
}
header .edu_nav nav .navbar-nav li ul li:hover ul {
  opacity: 1 !important;
  visibility: visible !important;
  top: -30px !important;
}
header .edu_nav nav .navbar-nav li {
  padding-left: 20px;
}
header .edu_nav nav .navbar-nav li:first-child {
  padding-left: 10px;
}
header .edu_nav nav .navbar-nav li i {
  cursor: pointer;
}
header .edu_nav nav .navbar-nav li i:before {
  margin: 0;
  color: #333146;
  font-weight: 700;
  font-size: 17px;
}

.cources_highlight {
  padding: 0;
  margin-top: -150px;
}
.cources_highlight h2 {
  margin-bottom: 40px;
}
.cources_highlight .latest_blog_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cources_highlight .latest_blog_carousel .single_item_first {
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
}
.cources_highlight .latest_blog_carousel .single_item_first:before {
  height: 3px;
  width: 102%;
  left: -5px;
  background: #092ace;
  bottom: 0;
}
.cources_highlight .latest_blog_carousel .single_item_first span {
  color: #092ace;
}
.cources_highlight .latest_blog_carousel .single_item_center {
  border: 5px solid #fff;
}
.cources_highlight .latest_blog_carousel .single_item_center:before {
  height: 5px;
  bottom: -5px;
  width: 103%;
  left: -5px;
  background: #ff5a2c;
}
.cources_highlight .latest_blog_carousel .single_item_center .blog-img {
  height: 350px;
}
.cources_highlight .latest_blog_carousel .single_item_center .blog-img img {
  width: 100%;
  height: 100%;
}
.cources_highlight .latest_blog_carousel .single_item_center span {
  color: #ff5a2c;
}
.cources_highlight .latest_blog_carousel .single_item_last {
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}
.cources_highlight .latest_blog_carousel .single_item_last:before {
  height: 3px;
  width: 102%;
  right: -5px;
  background: #092ace;
  bottom: 0;
}
.cources_highlight .latest_blog_carousel .single_item_last span {
  color: #092ace;
}
.cources_highlight .latest_blog_carousel .single_item {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(47, 47, 47, 0.05);
  box-shadow: 0px 0px 15px 0px rgba(47, 47, 47, 0.05);
  width: 33.33%;
  text-align: center;
  position: relative;
}
.cources_highlight .latest_blog_carousel .single_item:before {
  position: absolute;
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cources_highlight .latest_blog_carousel .single_item:hover:before {
  background: #ff5a2c;
}
.cources_highlight .latest_blog_carousel .single_item:hover .blog-img img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.cources_highlight .latest_blog_carousel .single_item:hover .blog_title span {
  color: #ff5a2c;
}
.cources_highlight .latest_blog_carousel .single_item .blog-img {
  overflow: hidden;
}
.cources_highlight .latest_blog_carousel .single_item .blog-img img {
  width: 100%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cources_highlight .latest_blog_carousel .single_item .blog_title {
  padding: 50px;
}
.cources_highlight .latest_blog_carousel .single_item .blog_title span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Rubik", sans-serif;
}
.cources_highlight .latest_blog_carousel .single_item .blog_title h3 {
  font-weight: 700;
  font-size: 30px;
  padding: 5px 0 30px;
  line-height: 34px;
  font-weight: 700;
}
.cources_highlight .latest_blog_carousel .single_item .blog_title h3 a {
  color: #333146;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cources_highlight .latest_blog_carousel .single_item .blog_title p {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  color: #6a7a83;
}

/*=======[ Index Courses Area Style ]========*/
.popular_courses {
  padding: 130px 0 80px;
}
.popular_courses .single-courses {
  -webkit-box-shadow: 0px 0px 81px 0px rgba(47, 47, 47, 0.1);
  box-shadow: 0px 0px 81px 0px rgba(47, 47, 47, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 50px;
}
.popular_courses .single-courses:hover {
  -webkit-box-shadow: 0px 0px 81px 0px rgba(47, 47, 47, 0.15);
  box-shadow: 0px 0px 81px 0px rgba(47, 47, 47, 0.15);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.popular_courses
  .single-courses:hover
  .courses_banner_wrapper
  .courses_banner
  img {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
.popular_courses .single-courses:hover .courses-content h3 a {
  color: #ff5a2c;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.popular_courses .single-courses .courses_banner_wrapper {
  position: relative;
}
.popular_courses .single-courses .courses_banner_wrapper .courses_banner {
  overflow: hidden;
}
.popular_courses .single-courses .courses_banner_wrapper .courses_banner img {
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.06) rotate(0deg);
  transform: scale(1.06) rotate(0deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.popular_courses .single-courses .courses_banner_wrapper .purchase_price {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
.popular_courses .single-courses .courses_banner_wrapper .purchase_price a {
  background: #092ace;
  font-weight: 600;
  border-radius: 0;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  font-size: 18px;
  padding: 5px 25px;
  text-decoration: none;
}
.popular_courses .single-courses .courses_info_wrapper {
  padding: 30px;
}
.popular_courses .single-courses .courses_info_wrapper .courses_title h3 {
  margin: 0;
  line-height: 26px;
}
.popular_courses .single-courses .courses_info_wrapper .courses_title h3 a {
  color: #323232;
  margin: 0px;
  font-weight: 700;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}
.popular_courses
  .single-courses
  .courses_info_wrapper
  .courses_title
  h3
  a:hover {
  color: #ff5a2c;
}
.popular_courses
  .single-courses
  .courses_info_wrapper
  .courses_title
  .teachers_name {
  padding: 15px 0 10px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.popular_courses
  .single-courses
  .courses_info_wrapper
  .courses_title
  .teachers_name
  a {
  color: #092ace;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.popular_courses
  .single-courses
  .courses_info_wrapper
  .courses_title
  .teachers_name
  a:hover {
  color: #ff5a2c;
}
.popular_courses .single-courses .courses_info_wrapper .courses_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
}
.popular_courses .single-courses .courses_info_wrapper .courses_info ul {
  margin-bottom: 0;
}
.popular_courses .single-courses .courses_info_wrapper .courses_info ul li {
  color: #6a7a83;
  font-size: 14px;
  margin-bottom: 6px;
  font-family: "Rubik", sans-serif;
}
.popular_courses .single-courses .courses_info_wrapper .courses_info ul li i {
  padding-right: 10px;
}
.popular_courses .single-courses .courses_info_wrapper .courses_info .cart_btn {
  background: #ff5a2c;
  font-weight: 500;
  border-radius: 0;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.popular_courses
  .single-courses
  .courses_info_wrapper
  .courses_info
  .cart_btn:hover {
  background: #092ace;
}

/*=======[ Index About Style ]========*/
.about_top_wrapper .title {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 1;
  width: 100%;
  text-align: left;
  padding-right: 110px;
  padding-top: 70px;
}
.about_top_wrapper .title h2 {
  color: #333146;
  font-size: 50px;
  font-weight: 900;
  line-height: 65px;
  margin-bottom: 30px;
}
.about_top_wrapper .title p {
  margin-bottom: 30px;
  padding-right: 15%;
}
.about_top_wrapper .banner_learn {
  padding-left: 10%;
}
.about_top_wrapper .banner_learn img {
  width: 100%;
  position: relative;
  z-index: 2;
  min-height: 660px;
}
.about_top_wrapper .items_shape {
  margin-top: -230px;
  height: 550px;
  position: relative;
  z-index: 1;
}
.about_top_wrapper .items_shape:before {
  position: absolute;
  content: "";
  background: url(../images/shapes/shape_bullet.png) repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 1;
}
.about_top_wrapper .items_shape:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-125deg, #e6793b 0%, #c9270e 100%);
  z-index: -2;
}
.about_top_wrapper .story_about {
  margin-top: -150px;
  z-index: 9;
  position: relative;
}
.about_top_wrapper .story_about .story_banner {
  height: 550px;
  width: 550px;
}
.about_top_wrapper .story_about .story_banner img {
  height: 100%;
  width: auto;
  border-radius: 50%;
  border: 10px solid #ffffff;
}
.about_top_wrapper .story_about .about_story_title {
  padding-top: 250px;
}
.about_top_wrapper .story_about .about_story_title h2 {
  font-size: 50px;
}
.about_top_wrapper .story_about .about_story_title p {
  padding-top: 40px;
  padding-right: 15%;
}

.single_item {
  -webkit-box-shadow: 0px 0px 90px 0px rgba(47, 47, 47, 0.05);
  box-shadow: 0px 0px 90px 0px rgba(47, 47, 47, 0.05);
  text-align: center;
  position: relative;
}
.single_item:before {
  position: absolute;
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.single_item:hover:before {
  background: #ff5a2c;
}
.single_item:hover .blog-img img {
  margin-top: -15px;
}
.single_item:hover .blog_title {
  margin-top: -32px;
  background: #111b51;
}
.single_item:hover .blog_title span {
  color: #ffffff;
}
.single_item:hover .blog_title h3 a {
  color: #ffffff;
}
.single_item:hover .blog_title span {
  color: #ffffff;
}
.single_item:hover .blog_title .bloger_name {
  color: #ff5a2c;
}
.single_item .blog-img {
  overflow: hidden;
}
.single_item .blog-img img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.single_item .blog_title {
  padding: 25px;
  background: #ffffff;
  margin-top: 0px;
  z-index: 1;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.single_item .blog_title span {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Rubik", sans-serif;
}
.single_item .blog_title h3 {
  font-weight: 700;
  font-size: 20px;
  padding-top: 5px;
  line-height: 34px;
}
.single_item .blog_title h3 a {
  color: #333146;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.single_item .blog_title h3 a:hover {
  color: #ff5a2c;
}
.single_item .blog_title {
  padding: 15px 0 10px;
}
.single_item .blog_title span {
  font-size: 15px;
  font-weight: 300;
  padding-top: 15px;
  margin: 0;
  color: #6a7a83;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
}
.single_item .blog_title .bloger_name {
  color: #ff5a2c;
  font-weight: 700;
  font-size: 14px;
}

footer {
  background: #111b51;
  position: relative;
  z-index: 1;
  padding: 0 0 150px 0;
  overflow: hidden;
}
footer:before {
  background: #ffffff;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 150px;
  width: 50%;
  z-index: -1;
}
footer:after {
  background: #111b51;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  opacity: 0.9;
}
footer .shape_wrapper {
  position: absolute;
  z-index: 5;
  content: "";
  height: 100%;
  width: 300px;
  right: 0;
  top: 0;
}
footer .shape_wrapper:before {
  border-radius: 0 0 0 50%;
  background: #111b51;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
footer .shape_wrapper img {
  position: absolute;
}
footer .shape_wrapper .shape_t_1 {
  left: 0;
  top: 0;
}
footer .shape_wrapper .shape_t_2 {
  right: 0;
  bottom: 0;
}
footer .become_techer_wrapper .become_a_teacher {
  background: #ff5a2c;
  padding: 70px 50px 80px 120px;
  position: relative;
  z-index: 1;
}
footer .become_techer_wrapper .become_a_teacher:before {
  background: #ff5a2c;
  position: absolute;
  content: "";
  top: 0;
  right: -100px;
  height: 100%;
  width: 100px;
  z-index: -1;
}
footer .become_techer_wrapper .become_a_teacher:after {
  background: rgba(7, 32, 57, 0.6);
  position: absolute;
  content: "";
  top: 0;
  left: -100%;
  height: 300%;
  width: 100%;
  z-index: -1;
}
footer .become_techer_wrapper .become_a_teacher .title h2 {
  color: #ffffff;
  font-size: 50px;
}
footer .become_techer_wrapper .become_a_teacher .title p {
  color: #ffffff;
  padding: 20px 0 35px;
}
footer .become_techer_wrapper .become_a_teacher .get_s_btn a {
  background: #092ace;
  font-weight: 500;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  font-family: "Rubik", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .become_techer_wrapper .become_a_teacher .get_s_btn a:hover {
  background: #ffffff;
  color: #333146;
}
footer .become_techer_wrapper .become_a_teacher .shape_t_1 {
  position: absolute;
  bottom: -65px;
  right: -165px;
}
footer .footer_top {
  position: relative;
  z-index: 1;
  margin-top: 100px;
}
footer .footer_top h3 {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 40px;
}
footer .footer_top .information {
  margin-left: 50px;
}
footer .footer_top .contact {
  margin-left: 80px;
}
footer .footer_top .footer_intro {
  padding-right: 25%;
}
footer .footer_top .footer_intro img {
  height: 45px;
  margin-bottom: 40px;
}
footer .footer_top .footer_single_col p {
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}
footer .footer_top .footer_single_col ul li {
  display: block;
  padding-bottom: 11px;
  font-size: 15px;
}
footer .footer_top .footer_single_col ul li:last-childe {
  padding-bottom: 0px;
}
footer .footer_top .footer_single_col ul li a {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
}
footer .footer_top .footer_single_col ul li a:hover {
  color: #ff5a2c;
}
footer .footer_top .footer_single_col ul li a:hover:before {
  color: #ff5a2c;
}
footer .footer_top .footer_single_col .quick_inf0 li a {
  position: relative;
  padding-left: 20px;
}
footer .footer_top .footer_single_col .quick_inf0 li a:before {
  color: #ffffff;
  position: absolute;
  font-weight: 600;
  font-family: "Flaticon";
  content: "\f103";
  left: 0;
  top: 0;
  font-size: 8px;
  z-index: 0;
  opacity: 1;
  line-height: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .footer_top .footer_single_col .contact_info span {
  color: #ffffff;
  font-size: 14px;
}
footer .footer_top .footer_single_col .contact_info .email {
  color: #ff5a2c;
  padding-left: 15px;
  font-weight: 600;
}
footer .footer_top .footer_single_col .social_items {
  padding: 20px 0 0;
}
footer .footer_top .footer_single_col .social_items li {
  margin-right: 30px;
}
footer .footer_top .footer_single_col .social_items li:last-child {
  margin-right: 0;
}
footer .footer_top .footer_single_col .social_items li a i {
  font-size: 18px;
  margin: 0;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .footer_top .footer_single_col .social_items li a i:hover {
  color: #ff5a2c;
}
footer .round_shape {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
footer .round_shape span {
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  bottom: 0;
  left: 0;
  -webkit-animation-name: bounce_fountainG;
  animation-name: bounce_fountainG;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}
footer .round_shape .shape_1 {
  height: 50px;
  width: 50px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
footer .round_shape .shape_2 {
  height: 120px;
  width: 120px;
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}
footer .round_shape .shape_3 {
  height: 190px;
  width: 190px;
  -webkit-animation-delay: 0.78s;
  animation-delay: 0.78s;
}
footer .round_shape .shape_4 {
  height: 260px;
  width: 260px;
  -webkit-animation-delay: 1.17s;
  animation-delay: 1.17s;
}
footer .round_shape .shape_5 {
  height: 330px;
  width: 330px;
  -webkit-animation-delay: 1.56s;
  animation-delay: 1.56s;
}
footer .round_shape .shape_6 {
  height: 400px;
  width: 400px;
  -webkit-animation-delay: 2.34s;
  animation-delay: 2.34s;
}
@-webkit-keyframes bounce_fountainG {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bounce_fountainG {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
footer .shapes1_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -11;
}

.unlimited_possibilities {
  padding: 0;
  margin: 130px 0;
}
.unlimited_possibilities .single_item_first,
.unlimited_possibilities .single_item_last {
  border-radius: 40px 0px 40px 0px;
}
.unlimited_possibilities .single_item_first:before,
.unlimited_possibilities .single_item_last:before {
  height: 2px;
  width: 90%;
  left: 0;
  background: #092ace;
  bottom: 0;
}
.unlimited_possibilities .single_item_center {
  border-radius: 0 40px 0px 40px;
}
.unlimited_possibilities .single_item_center:before {
  height: 2px;
  bottom: 0px;
  width: 90%;
  right: 0px;
  background: #ff5a2c;
}
.unlimited_possibilities .single_item_center .icon_wrapper i:before {
  color: #ff5a2c !important;
}
.unlimited_possibilities .single_item {
  -webkit-box-shadow: 0px 0px 90px 0px rgba(47, 47, 47, 0.1);
  box-shadow: 0px 0px 90px 0px rgba(47, 47, 47, 0.1);
  text-align: center;
  position: relative;
  padding: 50px 40px 40px;
}
.unlimited_possibilities .single_item:before {
  position: absolute;
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.unlimited_possibilities .single_item:hover:before {
  background: #ff5a2c;
}
.unlimited_possibilities .single_item:hover .icon_wrapper i:before {
  color: #ff5a2c;
}
.unlimited_possibilities .single_item .icon_wrapper {
  padding-bottom: 30px;
}
.unlimited_possibilities .single_item .icon_wrapper i:before {
  font-size: 60px;
  color: #092ace;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0;
}
.unlimited_possibilities .single_item .blog_title h3 {
  font-weight: 700;
  font-size: 25px;
  padding: 0px;
  line-height: 34px;
}
.unlimited_possibilities .single_item .blog_title h3 a {
  color: #333146;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.unlimited_possibilities .single_item .blog_title h3 a:hover {
  color: #ff5a2c;
}
.unlimited_possibilities .single_item .blog_title p {
  font-size: 15px;
  font-weight: 300;
  padding-top: 15px;
  margin: 0;
  color: #6a7a83;
}

.our_instructors {
  padding: 130px 0 80px;
  background: #ffffff;
  position: relative;
  z-index: 1;
}
.our_instructors .team-single-item {
  padding: 0 25px;
  margin-bottom: 50px;
}
.our_instructors .team-single-item figure {
  text-align: center;
  background: #ffffff;
}
.our_instructors .team-single-item figure:hover .member-img:before {
  opacity: 0.2;
}
.our_instructors .team-single-item figure:hover .member-img img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.our_instructors .team-single-item figure:hover figcaption .member-name h4 a {
  color: #ff5a2c;
}
.our_instructors .team-single-item figure .member-img {
  -webkit-box-shadow: 9px 16px 46px 0px rgba(47, 47, 47, 0.2);
  box-shadow: 9px 16px 46px 0px rgba(47, 47, 47, 0.2);
  margin: 0px auto;
}
.our_instructors .team-single-item figure .member-img .teachars_pro {
  overflow: hidden;
}
.our_instructors .team-single-item figure .member-img .teachars_pro img {
  width: auto;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.our_instructors .team-single-item figure figcaption {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  text-align: left;
  position: relative;
  z-index: 1;
  margin: -30px 0 0 36px;
}
.our_instructors .team-single-item figure figcaption:before {
  position: absolute;
  content: "";
  background: url(../images/shapes/team_shape.png) no-repeat center center;
  height: 263px;
  width: 470px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.our_instructors .team-single-item figure figcaption .member-name {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  padding: 20px 0 46px 30px;
  position: relative;
}
.our_instructors .team-single-item figure figcaption .member-name h4 {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  line-height: 38px;
}
.our_instructors .team-single-item figure figcaption .member-name h4 a {
  color: #333146;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.our_instructors .team-single-item figure figcaption .member-name span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 25px;
  font-weight: 400;
  color: #6a7a83;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: "Rubik", sans-serif;
}
.header_inner .intro_wrapper {
  background: url("../images/banner/banner_3.png") no-repeat center center;
  min-height: 300px;
  background-size: cover;
  position: relative;
  padding: 180px 0;
}
.header_inner .intro_wrapper:before {
  background: transparent;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.header_inner .intro_wrapper h1 {
  font-size: 60px;
  line-height: 80px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}
.header_inner .intro_wrapper .pages_links {
  padding-top: 30px;
}
.header_inner .intro_wrapper .pages_links a {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  position: relative;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header_inner .intro_wrapper .pages_links a:before,
.header_inner .intro_wrapper .pages_links a:after {
  position: absolute;
  height: 18px;
  width: 2px;
  right: -21px;
  top: 5px;
  content: "";
  background: #ffffff;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.header_inner .intro_wrapper .pages_links a:after {
  right: -16px;
}
.header_inner .intro_wrapper .pages_links a:last-child {
  margin-right: 0;
}
.header_inner .intro_wrapper .pages_links a:last-child:before,
.header_inner .intro_wrapper .pages_links a:last-child:after {
  display: none;
}
.header_inner .intro_wrapper .pages_links a:hover {
  color: #ff5a2c;
}
.header_inner .intro_wrapper .pages_links .active:hover {
  color: #ffffff;
}

.about_page .intro_wrapper {
  background: url("../images/banner/inner_banner_1.jpeg") no-repeat center
    center !important;
}

.about_us {
  position: relative;
  padding: 120px 0 0;
}
.about_us .about_title {
  text-align: left;
  padding: 100px 0 0;
}
.about_us .about_title span {
  position: relative;
  padding-left: 110px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: #6a7a83;
}
.about_us .about_title span:before {
  position: absolute;
  content: "";
  height: 4px;
  width: 70px;
  left: 0;
  top: 10px;
  background: #ff5a2c;
}
.about_us .about_title h2 {
  color: #333146;
  font-size: 50px;
  font-weight: 900;
  line-height: 65px;
  margin-bottom: 0px;
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}
.about_us .banner_about {
  padding-left: 8%;
}
.about_us .banner_about img {
  width: 100%;
  position: relative;
  z-index: 2;
}

#about_unlimited_possibilities .single_item {
  margin-bottom: 50px;
}
#about_unlimited_possibilities .item_6 {
  border-radius: 0px 40px 0px 40px;
}
#about_unlimited_possibilities .item_6:before {
  right: 0;
  left: auto;
  background: #ff5a2c;
}
#about_unlimited_possibilities .item_6 .icon_wrapper i:before {
  color: #ff5a2c;
}

#about_our_instructors {
  padding: 120px 0 100px;
}
